body {
    width: 100pc!important;
    background-color: black!important;
    overflow-x:auto;
    overflow-y:auto;
  }
  .fleft{
    float: left;
  }
  .clrleft{
    clear: left;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /
  }
  .fright{
    float: right;
  }
  .atcenter{
    margin:auto!important;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  a {
    color: #00B7FF;
  }
  