body {
  padding: 0;
  margin: 0;
}
#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}


#notfound .notfound {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound {
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat';
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  font-size: 224px;
  font-weight: 900rem;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #d54062;
  letter-spacing: -25px;
}


.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
}

.notfound a:hover {
  color: #8400ff;
}
