.col-md-7 {
  margin-top: 100px;
  text-align: center;
}
.col-lg{
  text-align: center;
}

html{
  margin:0;
  padding: 0;
    background-color: #030005;
}
#heading{
  background: transparent;
}

.row{
  margin-top: 50px;
    background-color: #030005;
}
.brand{
  font-size: 8rem;
  font-weight: 200;
  line-height: 1;

}
h3{
  text-align: center;
}
h1{
    color: black;
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #d54062;
    letter-spacing: 10px;
}
#boxxx{
  margin-left: 8%;
}
p{
color: #fff;
letter-spacing: 10px;
font-weight: 50;
}

.container {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  scroll-behavior: smooth;
  margin: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 25px 25px 25px -15px -15px rgb(54, 30, 38);
  width: 100%;
  margin-left: 25%;
  box-shadow: 6px 8px 5px #b83b5e;
}
.form-group input{
  border: 4px solid #b83b5e;
}
.form-group input:focus{
  border: 2px solid  #8400ff;
  box-shadow: inset 0 0 15px #b83b5e;
}

.form-group {
  width: 350px;
}
.not_found button{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
}

.not_found button:hover {
  color: #8400ff;
}
ul li a{
  color: #fff!important;
}
ul{
  display: flex;
}
ul li{
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
  text-align: center;
}
ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
ul li:nth-child(1):before{
  background: #8400ff;
}
ul li:nth-child(2):before{
  background: #ff1a1a;
}
ul li:nth-child(3):before{
  background: #E1306C;
}

ul li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #8400ff;
}
ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #ff1a1a;
}
ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(1):hover{
  color: #8400ff;
  box-shadow: 0 0 15px #8400ff;
  text-shadow: 0 0 15px #8400ff;
}
ul li:nth-child(2):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff1a1a;
  text-shadow: 0 0 15px #ff1a1a;
}
ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}

.content {
  align-items: center;
  height: 300px;
  background-color: #FFE4E1;
  font-size: 36px;
}
.not_found a{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;

}

.not_found a:hover {
  color: #8400ff;
}
