<!DOCTYPE html>
<html>

<head>
	<title>Games-Flick</title>
	<link rel="stylesheet" href="css/games.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="icon" href="gaming.svg">
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


<!--body-->

<body>
	<div class="container-big">

		<div class="wrapper">
			<!-- Sidebar  -->
			<nav id="sidebar">
				<div class="sidebar-header">
					<h2 class="brand">FLICK</h2>
				</div>
				<div class="linee"></div>
				<ul class="list-unstyled components">
					<div class="menu">
						<img src="https://www.pinkvilla.com/files/styles/contentpreview/public/nora_fatehi_1_0_0.jpg?itok=osXA4R1I" alt="profile">
						<p>Noora Fatehi</p>
					</div>
					<div class="linee"></div>
					<li class="nav-item">
						<a href="followers.html">Followers</a>
					</li>
					<li><a href="following.html">Following</a></li>
					<div class="linee"></div>
					<div class="menu">
						<p>FLick things</p>
					</div>
					<li class="nav-item active"><a href="about.html">About Us</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>

					<li>
						<a href="#">Feedback</a>
					</li>
				</ul>
				<button type="button" class="btn btn-light Download  "><i class="fab fa-apple"></i> Download</button>
				<button type="button" class="btn btn-outline-light Download"> <i class="fab fa-google-play"></i> Download</button>
			</nav>

			<!-- Page Content  -->
			<div id="content">
				<!-- top navbar  -->
				<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1D1D1D">
					<div class="container-fluid">
						<!-- button  -->
						<button type="button" id="sidebarCollapse" class="bttn" aria-expanded="false">
							<i class="fas fa-align-left"></i>
						</button>
						<button class="bttn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fas fa-align-justify"></i>
						</button>
						<!-- right side things on navbar  -->
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="nav navbar-nav ml-auto">
								<form class="form-inline">
									<input class="form-control" type="search" style="background: #121212; color:#BB86FC; border-color:#FF7597; width: 60%" placeholder="Search" aria-label="Search">
									<button class="btn btn-outline my-2 my-sm-0" style="background: #121212; color:#BB86FC; " type="submit">Search</button>
								</form>
								<li class="nav-item">
									<a class="nav-liink" href="#">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-liink" href="games.html">Games</a>
								</li>
								<li class="nav-item">
									<a class="nav-liink" href="stream.html">Stream</a>
								</li>
								<li class="nav-item">
									<a class="nav-liink" href="chatbox.html">Message</a>
								</li>
								<li class="nav-item">
									<a class="nav-liink" href="signup.html">Log Out</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!--body-->

				<div class="container">
					<h2 style="text-align: center">About Us</h2>
					<br><br>
		<h5><p>Hello stout-hearted people! This application is responsible for covering gaming, and almost every single thing associated to the game category.</p>
			<p>Its Home menu option consists of news updates on the latest and trendy games and You will get expert reviews, previews, game trailers, cheat codes, discussion forums & video game news here.
			and the best this is that even you can post gaming related things or reviews of video games and several videos for the game lovers,
			which will be visible to all.</p>
			<p>You can even connect with your frieds and family by following them or by using our Message menu option,
			in this you can have a safe chat, audio calls and even video conferencing.</p>
			<p>The practice of livestreaming video games became popular in the mid-2010s onwards,
			Video game live streaming is an activity where people record themselves playing games to a live audience online.
			And guess what! we are providing you this facility with online live chat with your friends.
			An advantage of streaming games is that the game can be picked up on another device and continued at the place the gamer stopped.
			You can use this application volunteerly by posting frequently asked questions, discussions, reviews, and much more related to video games,
			in the comment section.</p>
			<p>Your Feedbacks always means alot. So feel free to write a honest feedback about FLICK.
			Because we will always try to make sure that our users will face ZERO problems using our app.
			and we also encourage initiative ideas. You can mention that too... We will look through it ;)</p>
                </h5>
								<h4><b style="color:#fff">ENJOY PEEPS ❤️</b></h4>

				</div>
				<!-- Footer  -->
				<div class="footer">
					<p>© 2020 Flick, LLC. All rights reserved | </p>
					<p>Follow us on</p>
					<ul>
						<li><a href="/auth/facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
						<li><a href="/auth/google"><i class="fab fa-google" aria-hidden="true"></i></a></li>
						<li> <a href="/auth/steam"><i class="fab fa-instagram" aria-hidden="true"></></i></a></li>
					</ul>

				</div>
			</div>
		</div>
	</div>

	<!-- jQuery CDN - Slim version (=without AJAX) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- Popper.JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#sidebarCollapse').on('click', function() {
				$('#sidebar').toggleClass('active');
			});
		});
	</script>
	<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
	<script>
		function addDarkmodeWidget() {
			new Darkmode().showWidget();
		}
		window.addEventListener('load', addDarkmodeWidget);
	</script>
	<script type="text/javascript">
		var options = {
			bottom: '64px', // default: '32px'
			right: 'unset', // default: '32px'
			left: '32px', // default: 'unset'
			time: '0.5s', // default: '0.3s'
			mixColor: '#121212', // default: '#fff'
			backgroundColor: '#121212', // default: '#fff'
			buttonColorDark: '#121212', // default: '#100f2c'
			buttonColorLight: '#fff', // default: '#fff'
			saveInCookies: false, // default: true,
			label: '🌓' // default: ''
		}

		const darkmode = new Darkmode(options);
		darkmode.showWidget();
	</script>
</body>

</html>
