<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= username %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body class="container-fluid m-3">
    <div class="main-w3">


      <div class="col-md-2 fleft m-2 bg-secondary rounded">
        <div class="w-100" style="height: 170px;">
          <div class="container-fluid">
            <img  src="/images/profilepic.jpg" class="img-fluid rounded m-2" alt="profile pic">
          </div>
        </div>
        <div class="w-100 md-3" style="height: 40px;">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <img id="aa" src="/images/profilepic.jpg" class="img-fluid rounded-circle" alt="profile pic">
              </div>
              <div class="col-sm-6">
                <div class="h-50" style="color: white; text-align:left;text-size-adjust:inherit;">username</div>
                <div class="h-50" style="color: white; text-align:left;font-size: small;">userid</div>
              </div>
              <div class="col-sm-1">
                <div class="dropdown show">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="w-100 ">
          <div class="btn-group-vertical w-100 clrlft"  role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary">HOME</button>
            <button type="button" class="btn btn-secondary">EXPLORE</button>
            <button type="button" class="btn btn-secondary">LIST</button>
            <button type="button" class="btn btn-secondary">NOTIFICATIONS</button>
            <button type="button" class="btn btn-secondary">BOOKMARKS</button>
            <button type="button" class="btn btn-secondary">MORE</button>
          </div>
        </div>
        <div class="wx-100 atcenter"><button type="button" class="btn btn-primary">TWEET</button> </div>
      </div>


      <div class="col-md-5 fleft ">
        <div class="w-100 m-2 bg-secondary rounded p-2">
          <div class="w-100" style="height: 110px;">
            <div class="w-100">
              <div class="container">
                <div class="row bg-secondary">
                  <div class="col-sm-3">
                    <img id="aa" src="/images/profilepic.jpg" class="img-fluid rounded-circle" alt="profile pic">
                  </div>
                  <div class="col-sm-9 w-90">
                    <div class="h-60 p-2">
                      <input type="text" class=" w-100" aria-label="Large" style="background-color: slategrey; color: aliceblue;" placeholder="write our thought here">
                    </div>
                    <div class="h-40 p-2">
                        <div class="w-10 d-inline-block m-1"><button type="button" class="btn btn-primary">.</button></div>
                        <div class="w-10 d-inline-block m-1"><button type="button" class="btn btn-primary">.</button></div>
                        <div class="w-10 d-inline-block m-1"><button type="button" class="btn btn-primary">.</button></div>
                        <div class="w-10 d-inline-block m-1"><button type="button" class="btn btn-primary">.</button></div>
                        <div class="w-10 d-inline-block m-1"><button type="button" class="btn btn-primary">.</button></div>
                        <div class="w-10 d-inline-block fright"><button type="button" class="btn btn-primary">post</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 m-2 bg-secondary p-3">
          <div class=row>
            <div class="col ">
              <div class="card m-2 fleft" style="width: 100%;">
                <img src="/images/profilepic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div><div class="card m-2 fleft" style="width: 100%;">
                <img src="/images/profilepic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card m-2 fleft" style="width:100%;">
                <img src="/images/profilepic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div><div class="card m-2 fleft" style="width: 100%;">
                <img src="/images/profilepic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>


      <div class="col-md-3 fleft p-2 rounded">
        <div class="search  w-100 ">
          <form action="#" method="post">
            <input  class=" d-inline  w-75 m-3 rounded bg-secondary" type="text" name="search" placeholder="  Search here" style="color: aliceblue;" required="">
          </form>
        </div>
        <div class="clearfix"></div>
        <div class="card w-100 m-3">
          <div class="card-header bg-secondary" style="color: aliceblue;font-size: large;">
            Featured
          </div>
          <ul class="list-group list-group-flush bg-secondary">
            <li class="list-group-item bg-secondary" style="color: aliceblue;">Cras justo odio</li>
            <li class="list-group-item bg-secondary" style="color: aliceblue;">Cras justo odio</li>
            <li class="list-group-item bg-secondary" style="color: aliceblue;">Cras justo odio</li>
          </ul>
        </div>
        <div class="card w-100 m-3">
          <div class="card-header bg-secondary" style="color: aliceblue;font-size: large;">
            Celebs
          </div>
          <ul class="list-group list-group-flush bg-secondary">
            <li class="list-group-item bg-secondary">
              <div class="w-100">
                <div class="container">
                  <div class="row bg-secondary">
                    <div class="col-sm-3">
                      <img id="aa" src="/images/profilepic.jpg" class="img-fluid rounded-circle" alt="profile pic">
                    </div>
                    <div class="col-sm-5">
                      <div class="h-50" style="color: white; text-align:left;text-size-adjust:inherit;">username</div>
                      <div class="h-50" style="color: white; text-align:left;text-size-adjust:inherit;">userid</div>
                    </div>
                    <div class="col-sm-1">
                      <button type="button" class="btn btn-primary">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item bg-secondary">
              <div class="w-100" >
                <div class="container">
                  <div class="row bg-secondary">
                    <div class="col-sm-3">
                      <img id="aa" src="/images/profilepic.jpg" class="img-fluid rounded-circle" alt="profile pic">
                    </div>
                    <div class="col-sm-5">
                      <div class="h-50" style="color: white; text-align:left;text-size-adjust:inherit;">username</div>
                      <div class="h-50" style="color: white; text-align:left;text-size-adjust:inherit;">userid</div>
                    </div>
                    <div class="col-sm-1">
                      <button type="button" class="btn btn-primary">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item bg-secondary">
              <div class="w-100">
                <div class="container">
                  <div class="row bg-secondary">
                    <div class="col-sm-3 ">
                      <img id="aa" src="/images/profilepic.jpg" class="img-fluid rounded-circle" alt="profile pic">
                    </div>
                    <div class="col-sm-5">
                      <div class="h-50 bg-secondary" style="color: white; text-align:left;text-size-adjust:inherit;">username</div>
                      <div class="h-50 bg-secondary" style="color: white; text-align:left;text-size-adjust:inherit;">userid</div>
                    </div>
                    <div class="col-sm-1">
                      <button type="button" class="btn btn-primary">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    

  




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>