<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
    <style>
        .hide-scrollbar::-webkit-scrollbar {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    
    <form action="/posts" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            
            <label for="image">Select Video</label>
            <input type="file" name="file" class="form-control-file" id="image" accept="image/*">
            <div class="form-group">
                <label for="exampleInputEmail1">Caption</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="caption">
              </div>
            <div class="form-control">
                <input type="submit" class="btn btn-success">
            </div>
        </div>
      </form>
</body>
</html>