<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
    	<link rel="stylesheet" href="/css/games.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <style>
        .hide-scrollbar::-webkit-scrollbar {
        display: none;
      }
    </style>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <div class="container-big">

		<div class="wrapper">
<!-- Page Content  -->
			<div id="content">
  	<!-- top navbar  -->
				<nav class="navbar navbar-expand-lg navbar-light hide-scrollbar" style="background-color: #1D1D1D">
					<div class="container-fluid">
						<!-- button  -->
						<button class="bttn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fas fa-align-justify"></i>
						</button>
						<!-- right side things on navbar  -->
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="nav navbar-nav ml-auto">
								<form class="form-inline" action="/search" method="GET">
									<input name="search" class="form-control" type="search" style="background: #121212; color:#BB86FC; border-color:#FF7597; width: 70%" placeholder="Search" aria-label="Search">
									<div class="notfound">
										<button style="margin-left:6px; border-color:#FF7597; color:#FF7597;" type="submit">Search</button>
									</div>
								</form>

								<% if(user) { %>
                                    <li class="nav-item">
                                        <a class="nav-liink" href="/home"><i class="fas fa-home"></i> Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-liink" href="/users/<%= user._id %>"> <i class="fas fa-gamepad"></i> Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-liink" href="/users/livestreams/<%= user._id %>"> <i class="fas fa-video"></i> Stream</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-liink" href="/users/<%= user._id %>/chat"> <i class="fas fa-comments"></i> Message</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-liink" href="/logout"> <i class="fas fa-sign-out-alt"></i> LogOut</a>
                                    </li>
                                <% } else { %>
                                    <li class="nav-item">
                                        <a class="nav-liink" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-liink" href="/register"> <i class="fas fa-sign-in-alt"></i> Register</a>
                                    </li>
                                <% } %>
							</ul>
						</div>
					</div>
				</nav>
				<!--body-->

				<div class="container hide-scrollbar">
							<div class="m-3">
                      <form action="/posts" method="POST" enctype="multipart/form-data">
                          <div style="color:#fff;  margin-left: 32%" class="form-group">
                            <h1 style="color:#fff;">ADD POST</h1>
                              <br><br>
                              <label for="video">Select Video</label>
                              <input type="file" name="file" class="form-control-file" id="video" accept="video/*">
                              <br>
                              <label for="image">Select Thumbnail</label>
                              <input  type="file" name="file" class="form-control-file" id="image" accept="image/*">
                              <br>
                              <div class="form-group">
                                  <label style="color:#fff;" for="exampleInputEmail1">Caption</label>
                                  <input type="textarea" class="form-control form-group" id="exampleInputEmail1" name="caption">
                                </div>
                              <div class="form-group">
                                  <label style="color:#fff;" for="exampleInputEmail2">Tags</label>
                                  <input placeholder="Example: #tag#tag#tag....so on" type="textarea" class="form-control form-group" id="exampleInputEmail2" name="tags">
                                </div>
                              <div class="notfound">
                                  <button style="padding: 10px 40px; font-size: 16px;" type="post" name="button">Submit</button>
                              </div>
                          </div>
                        </form>
								</div>
				</div>

				<!-- Footer  -->
				<div class="footer">
					<p>© 2020 Flick, LLC. All rights reserved | </p>
					<p>Follow us on</p>
          <ul>
						<li><a href="https://www.facebook.com/FLICKgamingWebsite"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fab fa-google" aria-hidden="true"></i></a></li>
						<li> <a href="https://www.instagram.com/flick_india/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>

		</div>
	</div>
  </div>

	<!-- jQuery CDN - Slim version (=without AJAX) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- Popper.JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#sidebarCollapse').on('click', function() {
				$('#sidebar').toggleClass('active');
			});
		});
	</script>









</body>
</html>
