<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <link rel="icon" href="https://image.flaticon.com/icons/svg/2983/2983067.svg">
  <script src="https://kit.fontawesome.com/5b5eeb4d82.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/form.css">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


<body>


  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-inerval="1000">
<div class="carousel-inner">
  <div class="carousel-item active">
      <img src="https://wallpaperaccess.com/full/3037903.jpg" class="d-block w-100" alt="valorent">
  </div>
  <div class="carousel-item">
    <img src="https://www.desktopbackground.org/download/o/2015/06/27/970627_gta-5-hd-wallpapers-gta5-gta-v-grand-theft-auto-5-grand_1920x1080_h.jpg" class="d-block w-100" alt="metro last light">
  </div>
  <div class="carousel-item">
    <img src="https://www.pixel4k.com/wp-content/uploads/2018/11/gta-v-bugatti-divo-4k_1541295335.jpg" class="d-block w-100" alt="crysis">
  </div>
  <div class="carousel-item">
    <img src="https://cdn.wallpapersafari.com/63/2/arUle2.jpg" class="d-block w-100" alt="far cry 5">
  </div>
  <div class="carousel-item">
    <img src="https://cdn.mos.cms.futurecdn.net/SLqDnJvFX7NuLX4cXXwip.jpg" class="d-block w-100" alt="watch dog 2">
  </div>
</div>
</div>


  <div class="row text-wrap">
    <div class="col-md-7">
      <div  id="heading" class="jumbotron">
        <h1 class="display-4 green-text">Welcome to Flick</h1>
        <p class="lead">Connect with other gamers around the world. Watch gameplays and also get yourself rated. Join gaming communities and stream gameplays.</p>
      </div>
      <button type="button" class="btn btn-light Download  mx-1"><i class="fab fa-apple"></i> Download</button>
      <button type="button" class="btn btn-outline-light Download mx-1"> <i class="fab fa-google-play"></i> Download</button>
    </div>

    <div class="col-lg-4.5">
      <form class="container">
        <h2>Create Your Flick Account</h2>
        <div class="form-group">
          <label for="text">
            <h4>Name</h4>
          </label>
          <input type="text" class="form-control" id="text" aria-describedby="text" placeholder="Enter your Name" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">
            <h4>Email address</h4>
          </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email address" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">
            <h4>Password</h4>
          </label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password" required>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
          <label class="form-check-label" for="exampleCheck1">I am not a Robot!</label>
        </div>
        <button type="submit" class="btn btn-outline-light">Submit</button>
        <button href="#" class="btn btn-outline-light">Login</button>
      </form>

    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>

</html>
